<table>
  <tr>
    <th>Seleccion</th>
    <th>NumeroContrato</th>
    <th>NombreProducto</th>
  </tr>
  <tr *ngFor="let contrato of contratos">
    <td><input value={{contrato.idContrato}} name=contratoSelecionado (change)=cambiarContratoSelecionado() [(ngModel)]="contratoSelecionado"
        type="radio"></td>
        <td>{{contrato.numeroContrato}}</td>
        <td>{{contrato.nombreProducto}}</td>
  </tr>
</table>
<app-base2 [idContrato]=contratoSelecionado  (actualizar)="actualizar($event)">
</app-base2>
