<div *ngIf="contrato">
  numeroContrato: <input type="text" [(ngModel)]="contrato.numeroContrato">
  <br> 
  nombreProducto: <input type="text" [(ngModel)]="contrato.nombreProducto">
  <br>
  <input type="button" value="Actualizar" (click)=actualizarContrato()>
</div>